*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  --background-color: hsl(240, 3%, 7%);
  --header-border-color: #3a3a3c;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.5rem, 2.5vmin, 1.75rem);
}

h1 {
  color: azure;
  margin-top: 1rem;
  border-bottom: 1px solid var(--header-border-color);
}

.keyboard {
  margin-top: 2rem;
}

.key {
  font-family: inherit;
  font-size: inherit;
}
