*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Values taken from Wordle Site */
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  --background-color: hsl(240, 3%, 7%);
  --header-border-color: #3a3a3c;
  /* --background-key-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  ); */
  /* This tells the default value of hue, saturation and lightness variable, but lightness value can't be changed in root folder.*/
  --key-color: #fff;
  --border-tile-color: hsl(240, 2%, 23%);
  --alert-color: hsl(204, 7%, 85%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

h1 {
  color: azure;
  margin-top: 1rem;
  border-bottom: 1px solid var(--header-border-color);
}

.keyboard {
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  /* justify-content: center; */
}

.key {
  font-size: inherit;
  font-family: inherit;
  border: none;
  padding: 0;
  grid-column: span 2;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: var(--key-color);
  fill: var(--key-color);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none; /* Prevents people from selecting text on keyboard*/
}

.large {
  grid-column: span 3;
}

.large svg {
  width: 1.75em;
  height: 1.75em;
}

.key.wrong {
  --hue: 240;
  --saturation: 2%;
  --lightness: 23%;
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}

.guess-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25rem;
  justify-content: center;
  align-content: center; /* Useful when grid sizes are less than container and used to center the grid => justify for hoqizontal and align for vertical*/
  flex-grow: 1;
}

.tile {
  border: 0.05em solid var(--border-tile-color);
  color: var(--key-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  user-select: none;
}

.tile[data-state="active"] {
  border-color: hsl(200, 3%, 45%);
}

.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%);
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  z-index: 1;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /*To make them appear one after another*/
  align-items: center;
}

.alert {
  pointer-events: none; /* Makes it not react to any pointer event */
  background-color: var(--alert-color);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert.hide {
  opacity: 0;
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

@keyframes shake {
  10% {
    transform: translateX(5%);
  }
  30% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(2.5%);
  }
  70% {
    transform: translateX(-2.5%);
  }
  90% {
    transform: translateX(1.5%);
  }
  100% {
    transform: translateX(0);
  }
}
